#root {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

.max-width-2xl {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/* Reusable CSS class */
.link {
  list-style: none;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
}
/* Reusable CSS class */
.px-2 {
  padding-left: 14px;
  padding-right: 14px;
}

.py-2 {
  padding-top: 14px;
  padding-bottom: 14px;
}

.ms-2 {
  margin-left: 8px;
}

.footer-div-links {
  display: flex;
  flex-direction: column;
}

.buttonArrowUp {
  position: sticky;
  bottom: 40px;
  left: 93%;
  padding: 20px;
  border-radius: 80px;
  border: none;
  background-color: black;
  z-index: 99999;
}
